<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnBlockMeNetworkExtensioniOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>UnBlockMeiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>UnBlockMemacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6842428D232A4306004BB73C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F5D0C19218352EF000F85AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F70E22822106A2D008BDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FB1BD5C21D2607A00A991BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FB1BD9021D4BFE600A991BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FDAA03421CE69D000FA6925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FDEF7DD21846BC100D8FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF4AC13211EC46F002C96EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
